/* Reset de margens e preenchimentos para o corpo da página */
body {
    margin: 0;
    padding: 0;
}

/* Estilo para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: x-large;
}

/* Estilo para a navegação */
nav ul {
    list-style: none;
    margin-top: 20px;
}

nav ul li {
    display: inline;
    margin-right: 90px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilo para o conteúdo da seção */
#conteudo {
    text-align: center;
}

/* Estilo para o texto destacado */
#texto.texto-destaque {
    font-size: 24px;
    color: #ff6600;
}

/* Estilo para o exemplo de personagem */
#exemplo-personagem {
    text-align: left;
    padding: 20px;
    border: 1px solid #ddd;
}
