/* Reset de margens e preenchimentos para o corpo da página */
body {
    margin: 0;
    padding: 0;
}

/* Estilo para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilo para a navegação */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilo para as seções (Sobre Mim, Formação, etc.) */
section {
    /* padding: 20px; */
    max-height: 300px; /* Defina a altura máxima desejada */
    overflow-y: auto; /* Adicione barras de rolagem vertical, se necessário */
}

/* Estilo para o formulário de contato (pode ser mais elaborado) */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
